/node_modules
/vendor
/.env
/.env.bak
/.phpunit.result.cache
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/.phpintel
.vscode/
.DS_Store
Thumbs.db
*.sqlite
*.sqlite-journal
